SPM/Service References/MetricGeneratorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MetricGenerator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.FilterExtensions" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.DataVisualization.Charting" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.Bins" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.ApproachVolume" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.TMC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetricGenerator_CreateMetric_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMetric" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_CreateMetric_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMetricResponse" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_GetChartAndXmlFileLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChartAndXmlFileLocations" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_GetChartAndXmlFileLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChartAndXmlFileLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_CreateMetricWithDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMetricWithDataTable" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_CreateMetricWithDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMetricWithDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_CreateTMCChart_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTMCChart" />
  </wsdl:message>
  <wsdl:message name="IMetricGenerator_CreateTMCChart_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTMCChartResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetricGenerator">
    <wsdl:operation name="CreateMetric">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetricGenerator/CreateMetric" message="tns:IMetricGenerator_CreateMetric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetricGenerator/CreateMetricResponse" message="tns:IMetricGenerator_CreateMetric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChartAndXmlFileLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetricGenerator/GetChartAndXmlFileLocations" message="tns:IMetricGenerator_GetChartAndXmlFileLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetricGenerator/GetChartAndXmlFileLocationsResponse" message="tns:IMetricGenerator_GetChartAndXmlFileLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMetricWithDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetricGenerator/CreateMetricWithDataTable" message="tns:IMetricGenerator_CreateMetricWithDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetricGenerator/CreateMetricWithDataTableResponse" message="tns:IMetricGenerator_CreateMetricWithDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTMCChart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetricGenerator/CreateTMCChart" message="tns:IMetricGenerator_CreateTMCChart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetricGenerator/CreateTMCChartResponse" message="tns:IMetricGenerator_CreateTMCChart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMetricGenerator" type="tns:IMetricGenerator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMetric">
      <soap:operation soapAction="http://tempuri.org/IMetricGenerator/CreateMetric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartAndXmlFileLocations">
      <soap:operation soapAction="http://tempuri.org/IMetricGenerator/GetChartAndXmlFileLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMetricWithDataTable">
      <soap:operation soapAction="http://tempuri.org/IMetricGenerator/CreateMetricWithDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTMCChart">
      <soap:operation soapAction="http://tempuri.org/IMetricGenerator/CreateTMCChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetricGenerator">
    <wsdl:port name="BasicHttpBinding_IMetricGenerator" binding="tns:BasicHttpBinding_IMetricGenerator">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MOEWcfServiceLibrary/ChartGenerator/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>