SPM/Service References/MetricGeneratorService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.ApproachVolume" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MOE.Common.Business.TMC" />
  <xs:element name="CreateMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" minOccurs="0" name="options" nillable="true" type="q1:MetricOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMetricResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateMetricResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartAndXmlFileLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" minOccurs="0" name="options" nillable="true" type="q3:MetricOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartAndXmlFileLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetChartAndXmlFileLocationsResult" nillable="true" type="q4:ArrayOfTupleOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMetricWithDataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" minOccurs="0" name="options" nillable="true" type="q5:ApproachVolumeOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMetricWithDataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MOE.Common.Business.ApproachVolume" minOccurs="0" name="CreateMetricWithDataTableResult" nillable="true" type="q6:ArrayOfMetricInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTMCChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MOE.Common.Business.WCFServiceLibrary" minOccurs="0" name="options" nillable="true" type="q7:TMCOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTMCChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MOE.Common.Business.TMC" minOccurs="0" name="CreateTMCChartResult" nillable="true" type="q8:TMCInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>