SPMTests/SPM/Service References/LinkPivotServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LinkPivotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MOEWcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILinkPivotService_GetLinkPivot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkPivot" />
  </wsdl:message>
  <wsdl:message name="ILinkPivotService_GetLinkPivot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkPivotResponse" />
  </wsdl:message>
  <wsdl:message name="ILinkPivotService_DisplayLinkPivotPCD_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayLinkPivotPCD" />
  </wsdl:message>
  <wsdl:message name="ILinkPivotService_DisplayLinkPivotPCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayLinkPivotPCDResponse" />
  </wsdl:message>
  <wsdl:message name="ILinkPivotService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ILinkPivotService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="ILinkPivotService">
    <wsdl:operation name="GetLinkPivot">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinkPivotService/GetLinkPivot" message="tns:ILinkPivotService_GetLinkPivot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinkPivotService/GetLinkPivotResponse" message="tns:ILinkPivotService_GetLinkPivot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayLinkPivotPCD">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinkPivotService/DisplayLinkPivotPCD" message="tns:ILinkPivotService_DisplayLinkPivotPCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinkPivotService/DisplayLinkPivotPCDResponse" message="tns:ILinkPivotService_DisplayLinkPivotPCD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinkPivotService/Test" message="tns:ILinkPivotService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinkPivotService/TestResponse" message="tns:ILinkPivotService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILinkPivotService" type="tns:ILinkPivotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkPivot">
      <soap:operation soapAction="http://tempuri.org/ILinkPivotService/GetLinkPivot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayLinkPivotPCD">
      <soap:operation soapAction="http://tempuri.org/ILinkPivotService/DisplayLinkPivotPCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/ILinkPivotService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LinkPivotService">
    <wsdl:port name="BasicHttpBinding_ILinkPivotService" binding="tns:BasicHttpBinding_ILinkPivotService">
      <soap:address location="http://localhost:8736/Design_Time_Addresses/MOEWcfServiceLibrary/LinkPivotService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>